[submodule "themes/photophobia"]
	path = themes/photophobia
	url = https://github.com/setsevireon/photophobia.git
[submodule "themes/markau-theme"]
	path = themes/markau-theme
	url = https://github.com/martinkauppinen/markau-theme
